.env
.env.local
.env.production
frontend/.env
frontend/.env.local
node_modules
frontend/node_modules
.next
dist
.vercel
.env*.local

# Python
__pycache__/
*.py[cod]
*.class
backend/db.sqlite3
*.sqlite3
